@use '../global' as g;
//フレックスボックス
.flex{
    display: flex;
    &.justify-start{
        justify-content: flex-start;
    }
    &.justify-center{
        justify-content: center;
    }
    &.justify-spaceBetween{
        justify-content:space-between;
    }
    &.align-center{
        align-items:center;
    }
    &.align-start{
        align-items:flex-start;
    }
    &.align-end{
        align-items:flex-end;
    }
    &__left{
        width: calc(282/1200)*100%;
        @include g.tab{
            width: 100%;
        }
    }
    &__right{
        width: calc(894/1200)*100%;
        @include g.tab{
            width: 100%;
        }
    }
}