@use '../global' as g;
.list{
    width: 100%;
    &__item{
        width: 100%;
        padding: 10px 20px;
        border: solid 1px g.$color-grey;
        border-radius: 6px;
        p{
            @include g.font-style(16px, g.$color-black, 700, 1.5, 0);
        }
    }
    &__control{
        gap: 2rem;
    }
}